<!doctype html>
<html lang="<%= lang || "ru" %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %> | <%= t("meta.appName") %></title>
    <link rel="icon" href="/public/favicon.ico" sizes="any" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/theme.css" />
  </head>
  <body>
